
    {{>header}}
    <p class="text">A basic weather App. <br> That uses an API from weatherstack. </p>
    <p class="text">It shows basic information for the inputed location.</p>
    {{>footer}}
 </body>
     
</html>