
    {{>header}}
   <div id="mainBox">
    <form id="locationFrom">
        <input type="text" placeholder="Location">
        <button>Search</button>
    </form>

     <p id="msg-1"></p>
     <p id="msg-2"></p>
     
     <div id="imgBox"></div>

    {{>footer}}
   </div>
     </body>
     <script src="js/app.js"></script>
</html>